# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

src/seeds/questionsSeed.ts
src/seeds/cardsSeed.ts
src/seeds/codesSeed.ts
