/* eslint-disable max-len */
import {Card, CardTier, CardTierValue, CollectedBy} from '../types/card';

const cardsSeed: Card[] = [
    {
        uid: '0000000000',
        cardSet: 'magic-creatures',
        code: '0000000000',
        collectedBy: {} as CollectedBy,
        description: '0000000000 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000001',
        cardSet: 'magic-creatures',
        code: '0000000001',
        collectedBy: {} as CollectedBy,
        description: '0000000001 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000002',
        cardSet: 'magic-creatures',
        code: '0000000002',
        collectedBy: {} as CollectedBy,
        description: '0000000002 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000003',
        cardSet: 'magic-creatures',
        code: '0000000003',
        collectedBy: {} as CollectedBy,
        description: '0000000003 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000004',
        cardSet: 'magic-creatures',
        code: '0000000004',
        collectedBy: {} as CollectedBy,
        description: '0000000004 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000005',
        cardSet: 'magic-creatures',
        code: '0000000005',
        collectedBy: {} as CollectedBy,
        description: '0000000005 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000006',
        cardSet: 'magic-creatures',
        code: '0000000006',
        collectedBy: {} as CollectedBy,
        description: '0000000006 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000007',
        cardSet: 'magic-creatures',
        code: '0000000007',
        collectedBy: {} as CollectedBy,
        description: '0000000007 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000008',
        cardSet: 'magic-creatures',
        code: '0000000008',
        collectedBy: {} as CollectedBy,
        description: '0000000008 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    {
        uid: '0000000009',
        cardSet: 'magic-creatures',
        code: '0000000009',
        collectedBy: {} as CollectedBy,
        description: '0000000009 Lorem ipsum dolor sit amet.',
        image: 'azurnoctis',
        isActive: true,
        comment: '',
        name: 'Lorem ipsum',
        tier: CardTier.LEGENDARY,
        value: CardTierValue.LEGENDARY,
        withQuestion: true
    },
    // (...)
];

export default cardsSeed;
