/* eslint-disable max-len */
import { CardSet } from '../types/cardSet';

const cardSetsSeed: CardSet[] = [
    {
        uid: 'gildia-pustyni',
        order: 1,
        amountOfCards: 9,
        name: 'Gildia Pustyni',
        description: '"Siedzieliśmy cicho w cieniu wydm, gdy słońce zaczęło zachodzić za horyzont. Szejk kazał nam czekać na zmrok, kiedy straże Gildii Stali miały być najmniej czujne. Zebraliśmy się w małych grupach i ruszyliśmy w kierunku tamy."',
        cardTiers: {
            [CardTier.COMMON]: 3,
            [CardTier.RARE]: 3,
            [CardTier.EPIC]: 3,
            [CardTier.LEGENDARY]: 0,
            [CardTier.MYTHICAL]: 0,
        }
    },
    {
        uid: 'gildie',
        order: 999,
        amountOfCards: 0,
        name: 'Tajna kolekcja',
        description: '"Widziałem, jak z chaosu powstały cztery gildie, każda z potrzeby i ambicji, każda snująca inne sny o przyszłości. A my, mieszkańcy Erindaru, jesteśmy świadkami tej niekończącej się gry o władzę."',
        cardTiers: {
            [CardTier.COMMON]: 1,
            [CardTier.RARE]: 3,
            [CardTier.EPIC]: 1,
            [CardTier.LEGENDARY]: 0,
            [CardTier.MYTHICAL]: 0,
        }
    }
];

export default cardSetsSeed;
