/* eslint-disable max-len */
import { FieldValue } from 'firebase-admin/firestore';
import { Guild, GuildMembers } from '../types/guild';

const guildsSeed: Guild[] = [
    {
        uid: 'guild-void',
        name: 'Klub Otaku',
        description: 'Witamy w sanktuarium bezsenności, gdzie „jeszcze jeden odcinek” to zaklęcie, które rzucasz o drugiej nad ranem.',
        score: 0,
        amountOfMembers: 0,
        amountOfCollectedCards: 0,
        amountOfAnsweredQuestions: 0,
        members: {} as GuildMembers,
        updatedAt: FieldValue.serverTimestamp()
    },
    {
        uid: 'guild-water',
        name: 'Zakon memów',
        description: 'Wchodzisz tu zdrowy psychicznie, wychodzisz pisząc „xD” zamiast kropki.',
        score: 0,
        amountOfMembers: 0,
        amountOfCollectedCards: 0,
        amountOfAnsweredQuestions: 0,
        members: {} as GuildMembers,
        updatedAt: FieldValue.serverTimestamp()
    },
    {
        uid: 'guild-desert',
        name: 'Bractwo Kinomaniaków',
        description: 'Zapraszamy tylko pod warunkiem, że gotów jesteś kłócić się do rana o zakończenie filmu sprzed dekady.',
        score: 0,
        amountOfMembers: 0,
        amountOfCollectedCards: 0,
        amountOfAnsweredQuestions: 0,
        members: {} as GuildMembers,
        updatedAt: FieldValue.serverTimestamp()
    },
    {
        uid: 'guild-steel',
        name: 'Liga Graczy',
        description: 'Dołącz na własne ryzyko – DLC z przyjaciółmi sprzedawane osobno.',
        score: 0,
        amountOfMembers: 0,
        amountOfCollectedCards: 0,
        amountOfAnsweredQuestions: 0,
        members: {} as GuildMembers,
        updatedAt: FieldValue.serverTimestamp()
    }
];

export default guildsSeed;
