/* eslint-disable max-len */
import { FieldValue } from 'firebase-admin/firestore';
import { Question } from '../types/question';

const questionsSeed: Question[] = [
    {
        uid: 'jak-nazywa-sie-gra',
        question: 'Jak nazywa się gra, w której zapisujesz słowo flamastrem na tabliczce?',
        answers: {
            a: 'Jednym słowem',
            b: 'Tajniacy',
            c: 'Czółko',
            d: 'Mistrz słowa'
        },
        correct: 'a',
        updatedAt: FieldValue.serverTimestamp(),
        value: 5
    },
    // (...)
];

export default questionsSeed;
