import { RankingRound, RankingRoundGuilds, RankingRoundUsers } from '../types/rankingRound';

const rankingRoundsSeed: RankingRound[] = [
    {
        uid: '1',
        name: 'pierwsza',
        finished: false,
        from: new Date('2026-07-24 14:00:00 GMT+0200'),
        to: new Date('2026-07-25 13:59:59 GMT+0200'),
        users: {} as RankingRoundUsers,
        guilds: {} as RankingRoundGuilds
    },
    {
        uid: '2',
        name: 'druga',
        finished: false,
        from: new Date('2026-07-25 14:00:00 GMT+0200'),
        to: new Date('2026-07-26 11:59:59 GMT+0200'),
        users: {} as RankingRoundUsers,
        guilds: {} as RankingRoundGuilds
    }
];

export default rankingRoundsSeed;
