@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light only;

    --color-primary: #9D2F00;
    --color-dim: #5c5c5c;
    --color-text-light: #ffffff;
    --color-text-dark: #202020;

    --color-panel-bg: rgba(217,217,217,0.3);
    --color-button-bg: rgba(196,196,196,0.5);

    --color-common: #868686;
    --color-rare: #266592;
    --color-epic: #8D30C2;
    --color-legendary: #E9B119;
    --color-mythical: #A91103;

    --color-guild-steel: #1e5533;
    --color-guild-water: #1d597e;
    --color-guild-void: #7d1b81;
    --color-guild-desert: #3f268f;
}

/* Liga graczy */
.theme-steel {
    --color-primary: var(--color-guild-steel);
}

/* Zakon memów */
.theme-water {
    --color-primary: var(--color-guild-water);
}

/* Klub Otaku */
.theme-void {
    --color-primary: var(--color-guild-void);
}

/* Bractwo kinomaniaków */
.theme-desert {
    --color-primary: var(--color-guild-desert);
}

.theme-default {}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    @apply bg-background
}

.firebase-emulator-warning {
    display: none;
}

.bg-image-mobile-position {
    background-size: auto max(600px, 100vh);
    background-position: center 0;
    background-repeat: no-repeat;
}
