@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light only;
    
    --color-primary: #9D2F00;
    --color-common: #868686;
    --color-rare: #266592;
    --color-epic: #8D30C2;
    --color-legendary: #E9B119;
    --color-mythical: #A91103;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    @apply bg-background
}

.firebase-emulator-warning {
    display: none;
}

.bg-image-mobile-position {
    background-size: auto max(600px, 100vh);
    background-position: center 0;
    background-repeat: no-repeat;
}
